@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap');
/* font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #040404;
  color: white;
}
.logo{
  text-align: center;
}
.logo img{
  max-width: 25%;
  max-height: 25%;
}
p{
  font-family: 'Roboto', sans-serif;
  color:#ffc800;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}
.bold{
  color:#040404;
  padding-bottom: 20px;
}

.container-reservation {
  width: 50%; 
  margin: 0 auto;
  padding: 10px;
  background-color: #040404;
}
.elem-group {
  margin: 10px 0;
}
.elem-group.inlined {
  width: 20%;
  display: inline-block;
  margin-left: 1%;
}

.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}
textarea {
  height: 100px;
}
hr {
  border: 1px dotted #747474;
}
.sendButton {
  height: 40px;
  width: 20%;
  background: #ffc800;
  border: none;
  color: white;
  font-size: 1.em;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  border: 2px solid white;
}

img {

  width: 80%;
  height: 80x;
}

.demo {
  position: fixed;
  font-size: 20px;
  margin-top: 0px;
}

.error-pregunta{
  border: 2px solid #ffc800;
  color: #ffc800;
}