<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <div class="header-admin">
        <div>
            <a href="/editForm">Edicion de examen</a>
        </div>
        <div>
            <a href="/form">Vista de examen </a>
        </div>
        <div>
            <a href="/resultsView">Resultados</a>
        </div>
    </div>

    

</body>
</html>