<footer>
    <section class="container-footer">

      <!-- <article class="container-logo-footer">
          <img src="/images/Cladestino _Logo-04.png" alt="" class="logo-footer">
      </article> -->
       
       <article class="container-contacto">
          <img class="container-logo-footer" src="/images/logo-04-letra.png" alt="" class="logo-footer">
           <div class="contactos">
              <p class="mail-contacto">Calle 61A #24A -45</p>
              <p class="mail-contacto">clandestinogastropub@gmail.com</p> 
              <p class="numero-contacto">3202086828</p>  
           </div>
       </article>

       <article class="container-redes">
            <div class="container-logo-buho-footer"><a href="/"><img class="buho-blanco" src="/images/logo-04-buho.png" alt="" ></div></a>
          <div class="container-iconos">
              <a href="https://www.instagram.com/clandestinogastropub/"><i class="fab fa-instagram"></i></a>
              <a href="https://open.spotify.com/playlist/6RUQXFhBCBnVnTZyXwfCBz"><i class="fab fa-spotify"></i> </a>
              <a href="https://www.facebook.com/hashtag/clandestinogastropub"><i class="fab fa-facebook-square"></i></a>
          </div>
       </article>

        <article class="container-form-footer">
           <form action="/" method="post" class="form-footer"> 
               <div class="container-label-footer">
                  <label for="nombre">Dejanos un <br> comentario!!!</label>
               </div>
           <div class="container-inputs">
               <input type="text" name="nombre" id="nombre" placeholder="nombre">
               <input type="text" placeholder="nombre de usuario" name="nombre-usuario" id="nombre-usuario">
               <textarea name="mensajes"placeholder="mensaje" id="" cols="24" rows="10"></textarea>
              <a href="/" class="a-button"> <button class="button" value="Enviar" >Enviar</button> </a>
               <!-- </form> -->
          </div>
        </article>
    </section>

      <div class="copyright">Copyright ©  Clandestino Gastropub. Todos los derechos reservados</div>         
</footer>