<header>
    <h5 class="caja"><a id="anchor-header" href="/">Home</a></h5>
    <h5 class="caja"><a id="anchor-header" href="/location">¿Cómo llegar?</a></h5>
    <h5 class="caja"><a id="anchor-header" href="/productDelivery">Delivery</a></h5>
    <h5 class="caja"><a id="anchor-header" href="/products">Menú</a></h5>
    <div class="caja "><img src="/images/buho.png" alt=""></div>
    <% if (!profile) { %>
        <h5 class="caja"><a id="anchor-header" href="/login">Login</a></h5>
        <h5 class="caja"><a id="anchor-header" href="/register">Sign-up</a></h5>
    <% } %>
    <h5 class="caja"><a id="anchor-header" href="/reservation">Reservas</a></h5>
    <h5 class="caja"><div class="container-icon"><a id="anchor-header" href="#"><i class="fas fa-shopping-bag">3</i></a></h5>
        <% if (profile) { %>
            <div class="profile-disp caja">

            <img src="/images/users/defaultAvatar.jpg" alt="">
            <li class="dropdown-li">
                <%= profile.name %>
                <ul class="dropdown">
                    <li><a href="">Profile</a></li>
                    <% if (profile.admin == '1') { %>
                        <li><a href="/products/create/">ADD Product</a> </li>   
                    <% } %>
                    <li><a href="/logout/">LOG OUT</a></li>                                
                </ul>
            </li>        
        </div>
        <% } %>
</header>